// 定義變量
$primary-color: #c4cfc5;
$sub-color: #dce0d8;
$accent-color: #91929b;
$dark-color: #1D1D1D;
$light-color: #ffffff;
$submit-color: #80cbc4;
$success-color: #64b5f6;
$error-color: #e57373;
$hightlight-color: #198754;